{% extends "v1base.html" %}
{% block content %}
</br><h1>Aggravating Scratch</h1></br><div data-component-type="text"><div><strong>1 Points</strong></div><div><strong>Physiology; Claws</strong></div><div><strong>Prerequisites: </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com//claws" target="_blank"><strong>Claws</strong></a><br /></br>Your claws carry an irritant that is harmless to you but can be damaging to others. Your claw Strikes deal an additional 1d4 persistent poison damage on a critical hit.</div></div>
{% endblock %}