{% extends "v1base.html" %}
{% block content %}
</br><h1>Ancestral Blood Magic</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Spellcaster; Magical Bloodine</strong></div><div><strong>Prerequisites: Any magical bloodline</strong><br /></br>The magic of your bloodline mixes with that of your ancestry. You gain your blood magic effect when you cast a non-cantrip spell you gained from a heritage or an ancestry feat, in addition to the normal circumstances that trigger your blood magic.</div></div>
{% endblock %}