{% extends "v1base.html" %}
{% block content %}
</br><h1>Anchoring Aura</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Religion/Warrior; Champion's Oath</strong></div><div><strong>Requires: Any Champion's Oath against Fiends</strong><br /></br>Your aura hampers teleportation. Your aura attempts to <a href="https://unbearable1.pythonanywhere.com/counteracting" target="_blank">counteract</a> teleportation spells cast by fiends against within 15 feet.</div></div>
{% endblock %}