{% extends "v1base.html" %}
{% block content %}
</br><h1>Aquatic Camouflage</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Physiology; Aquatic</strong></div><div>While fully submerged in water, as long as an observer is at least 20 feet away from you, you don't need cover from that observer to <a href="https://unbearable1.pythonanywhere.com//hide" target="_blank">Hide </a>or <a href="https://unbearable1.pythonanywhere.com//sneak" target="_blank">Sneak</a>.</div></div>
{% endblock %}