{% extends "v1base.html" %}
{% block content %}
</br><h1>Arcane Sense</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Arcana; Senses</strong></div><div><strong>Prerequisites trained in Arcana</strong><br /></br>Your study of magic allows you to instinctively sense its presence. You can cast <a data-composite="true" href="https://unbearable1.pythonanywhere.com/detect-magic-9339784" target="_blank">detect magic</a> at will as an arcane innate spell.</br></div></div>
{% endblock %}