{% extends "v1base.html" %}
{% block content %}
</br><h1>Bandalore</h1></br><div data-component-type="text"><div><strong>Price</strong></br>5 cp<br /></br><strong>Hands</strong></br>1;</br><strong>Usage</strong></br>held in 1 hand</div><div><br /></div><div>Similar to a spool of string, a bandalore consists of two wooden disks connected to a central axle wound with string. By holding the end of the string and releasing the bandalore, a skilled user can move the bandalore up and down, performing a variety of tricks.</div></div>
{% endblock %}