{% extends "v1base.html" %}
{% block content %}
</br><h1>Big Mouth</h1></br><div data-component-type="text"><div><strong>1 Points</strong></div><div><strong>Physiology; Exploration</strong></div><div><strong>Prerequisites </strong><a href="https://unbearable1.pythonanywhere.com//cheek-pouches" target="_blank"><strong>Cheek Pouches</strong></a><br /></br>Your cheek pouches are especially stretchy. Instead of storing up to four items of Light Bulk in your cheek pouches, you can store up to 1 Bulk worth of items. The maximum size of a given item is unchanged.</div></div>
{% endblock %}