{% extends "v1base.html" %}
{% block content %}
</br><h1>Bioluminescent</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Physiology; other utility features</strong></div><div>Your body is dotted with phosphorescent spots that emit a guiding light and help you communicate. The spots--located primarily on your face, arms, and hands--illuminate a 10-foot radius around you with dim light. You can activate, deactivate, or change the arrangement of lights as an action, which has the concentration trait.</div></div>
{% endblock %}