{% extends "v1base.html" %}
{% block content %}
</br><h1>Blowgun Darts</h1></br><div data-component-type="text"><div><strong>Price</strong></br>5 cp (price for 10);</br><strong>Bulk</strong></br>L<br /></br><strong>Category</strong></br>Ammunition<br /></br><strong>Group</strong> Dart; <strong>Traits</strong> --</div><div>These thin, light darts are typically made of hardwood and stabilized with fletching of down or fur. They are often hollow so they can be used to deliver poison.</div></div>
{% endblock %}