{% extends "v1base.html" %}
{% block content %}
</br><h1>Breath Paragon</h1></br><div data-component-type="text"><div><strong>6 Points</strong></div><div><strong>Natural Abilities; Elemental</strong></div><div><strong>Prerequisites: </strong><a href="https://unbearable1.pythonanywhere.com//breath-weapon" target="_blank"><strong>Breath Weapon</strong></a><br /></br>Creatures that critically fail their save against your Breath Weapon take 3d4 persistent damage of the type dealt</div></div>
{% endblock %}