{% extends "v1base.html" %}
{% block content %}
</br><h1>Buckler Expertise</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Warrior; Shields</strong></div><div><strong>Prerequisites: Expert in Warrior</strong><br /></br>You've learned a flexible way to position your buckler to provide more protection. When you <a data-composite="true" href="https://unbearable1.pythonanywhere.com//raise-a-shield" target="_blank">Raise a Shield</a> to gain a circumstance bonus to AC from a buckler, increase the bonus from +1 to +2.</div></div>
{% endblock %}