{% extends "v1base.html" %}
{% block content %}
</br><h1>Camouflage</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Stealth; Terrain</strong></div><div><strong>Prerequisites master in Stealth, Expert in Survival</strong><br /></br>You alter your appearance to blend in to the wilderness. If you spend at least one minute camouflaging yourself to blend in, then In natural terrain, you can <a data-composite="true" href="https://unbearable1.pythonanywhere.com/sneak" target="_blank">Sneak</a> even if you're observed.</div></div>
{% endblock %}