{% extends "v1base.html" %}
{% block content %}
</br><h1>Cannot Speak</h1></br><div data-component-type="heading"><h2 id="" level="2">-3 points</h2></div><div data-component-type="informative"><div class="info-container" info-color="green"><div class="info-title"></div><div class="info-content"><div>PHYSICAL</div></div></div></div><div data-component-type="text"><div>You are unable to speak a language, though may grunt, growl, or make other verbalizations (even enough to constitute as verbal components for spell-casting.)</br></div></div>
{% endblock %}