{% extends "v1base.html" %}
{% block content %}
</br><h1>Cartwheel Dodge</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Reflex; Saves and Resistances</strong></div><div><strong>Reaction; Prerequisites: Expert in Reflex; Requirements You aren't encumbered or overburdened; Trigger You succeed or critically succeed at a Reflex saving throw.</strong><br /></br>You <a data-composite="true" href="https://unbearable1.pythonanywhere.com/step" target="_blank">Step</a> up to 10 feet.</div></div>
{% endblock %}