{% extends "v1base.html" %}
{% block content %}
</br><h1>Cat Nap</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Physiology; Healing and HP</strong></div><div>You can briefly sleep to regain your energy quickly. Once per hour, by sleeping for 10 minutes, you can gain 5 temporary Hit Points that last for an hour. This can also qualify as the <a data-composite="true" href="https://unbearable1.pythonanywhere.com/focus-spells" target="_blank">refocus</a> action, as you dream of a relevant activity.</div></div>
{% endblock %}