{% extends "v1base.html" %}
{% block content %}
</br><h1>Ceaseless Shadows</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>Behavioral Trait, Sneakiness</strong></div><div>If you would have lesser <a href="https://unbearable1.pythonanywhere.com/cover" target="_blank">cover</a> from creatures, you gain cover and can <a href="https://unbearable1.pythonanywhere.com/take-cover" target="_blank">Take Cover</a>, and if you would have cover from creatures, you gain greater cover.</div></div>
{% endblock %}