{% extends "v1base.html" %}
{% block content %}
</br><h1>Cloud Gazer</h1></br><div data-component-type="text"><div><strong>6 Points</strong></div><div><strong>Environmental Acclimatization; Environment</strong></div><div>You can see well enough through fog, mist, and clouds (not smoke) that would normally cause creatures to be <a data-composite="true" href="https://unbearable1.pythonanywhere.com//concealed" target="_blank">concealed </a>that you don't need to succeed at a flat check to target creatures benefiting from such concealment.</div></div>
{% endblock %}