{% extends "v1base.html" %}
{% block content %}
</br><h1>Courteous Comeback</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Cultural Training; Diplomacy</strong></div><div><strong>Free Action; </br>Requirements You're in a settlement or community, and you haven't used Courteous Comeback in this settlement or community within the past month; Trigger You critically fail a Diplomacy check.</strong></div><div><br /></br>Reroll the triggering Diplomacy check, using the second result.</div></div>
{% endblock %}