{% extends "v1base.html" %}
{% block content %}
</br><h1>Dangerous Sorcery</h1></br><div data-component-type="text"><div><strong>10 Points</strong></div><div><strong>Spellcaster; Metamagic</strong></div><div><strong>1 action; [metamagic]; Prerequisites: Master in Spellcaster</strong><br /></br>Your legacy grants you great destructive power. If the next action you use is to cast a non cantrip spell, and the spell deals damage and doesn't have a duration, you gain a status bonus to that spell's damage equal to 2 x the spell's tier.</div></div>
{% endblock %}