{% extends "v1base.html" %}
{% block content %}
</br><h1>Dashing Snatch</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Behavioral Trait, Fighting Style</strong></div><div><strong>2 Actions</strong></div><div><a data-composite="true" href="https://unbearable1.pythonanywhere.com//stride" target="_blank">Stride</a> twice, and you can <a data-composite="true" href="https://unbearable1.pythonanywhere.com//interact" target="_blank">Interact</a> to grab an unattended object at any point during your movement.</div></div>
{% endblock %}