{% extends "v1base.html" %}
{% block content %}
</br><h1>Dead Reckoning</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Survival; Exploration<br /></br>2 Actions; Concentrate; Prerequisites trained in Survival</strong><br /></br>You've trained yourself to maintain a strong sense of direction at all times, even when you can't use a compass or see the sky above. You immediately intuit which direction is north (assuming the concept of north exists at your current location).</div></div>
{% endblock %}