{% extends "v1base.html" %}
{% block content %}
</br><h1>Defiant Yell</h1></br><div data-component-type="text"><div><strong>12 Points</strong></div><div><strong>Behavioral Trait; Combat Teamwork</strong></div><div><strong>Reaction; Usable once per day; Auditory, Concentrate, Emotion, Mental; Trigger An ally within 30 feet would be reduced to 0 HP but not immediately killed.</strong><br /></br>Your ally isn't knocked out and remains at 1 Hit Point. Your ally's wounded condition still increases by 1 as though they had been dying and recovered.</div></div>
{% endblock %}