{% extends "v1base.html" %}
{% block content %}
</br><h1>Directed Channel</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>spellcaster; Harm or Heal</strong></div><div><strong>Prerequisites: Expert in Spellcaster</strong><br /></br>You can shape the energy you channel in a single direction, reaching farther and in a more directed fashion. When you cast a version of harm or heal that has an area, you can make its area a 60-foot cone instead of a 30-foot emanation.</div></div>
{% endblock %}