{% extends "v1base.html" %}
{% block content %}
</br><h1>Distracting Shadows</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Behavioral Trait, Sneakiness</strong></div><div>You can use creatures that are at least one size larger than you as cover for the <a href="https://unbearable1.pythonanywhere.com/hide" target="_blank">Hide</a> and <a href="https://unbearable1.pythonanywhere.com/sneak" target="_blank">Sneak</a> actions, though you still can't use such creatures as cover for other uses, such as the Take Cover action.</div></div>
{% endblock %}