{% extends "v1base.html" %}
{% block content %}
</br><h1>Draconic Arrogance</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Warrior; Rage</strong></div><div><strong>Prerequisites: </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com/dragon-instinct" target="_blank"><strong>dragon instinct</strong></a><strong>; Master in Warrior</strong><br /></br>Few can sway you from your goals while the fury of combat fills you. You gain a +2 status bonus to saving throws against emotion effects.</div></div>
{% endblock %}