{% extends "v1base.html" %}
{% block content %}
</br><h1>Dreamer</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Physiology; Resistance</strong></div><div>You still require natural sleep, but you have a +2 circumstance bonus to all saving throws against sleep effects and effects that cause or alter dreams, and you treat your saving throws against effects that would cause you to fall asleep as one degree of success better. This protects only against sleep effects, not against other forms of falling unconscious.</div><div><br /></div></div>
{% endblock %}