{% extends "v1base.html" %}
{% block content %}
</br><h1>Dynamic Linguistics</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Cultural Training; Knowledge</strong></div><div>During your daily preparations, you can become fluent in one common language or one other language you have access to. You know this language until you prepare again. Since this knowledge is temporary, you can't use it as a prerequisite for a permanent character option.</div></div>
{% endblock %}