{% extends "v1base.html" %}
{% block content %}
</br><h1>Earth Sense</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Natural Abilities; Senses</strong></div><div>Your connection to earth and stone allows you to feel the slightest displacement that disturbs them, down to the shift of a pebble. You gain <a href="https://unbearable1.pythonanywhere.com//senses" target="_blank">tremorsense </a>as an imprecise sense with a range of 30 feet.</br></div></div>
{% endblock %}