{% extends "v1base.html" %}
{% block content %}
</br><h1>Easy Dry</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Physiology; Dry</strong></div><div>So long as you're in a dry place, you can spend one action to shake off any water that clings to your clothing or feathers to instantly become dry. This benefit extends to all of your equipment, or any item you are holding as well.</br></div><div><br /></div><div>Additionally, you are +2 to all saving throws against magical effects with the water trait.</br></div></div>
{% endblock %}