{% extends "v1base.html" %}
{% block content %}
</br><h1>Elude Trouble</h1></br><div data-component-type="text"><div><strong>4 Points </strong></div><div><strong>Behavioral Trait, </br>Fighting Style  </strong></div><div><strong>Reaction; Trigger: A creature misses you with a melee attack.</strong></div><div>You slip through your foe's opening. <a href="https://unbearable1.pythonanywhere.com/stride" target="_blank">Stride</a> up to your Speed. This movement doesn't trigger movement-based reactions from the creature that missed you.</div></div>
{% endblock %}