{% extends "v1base.html" %}
{% block content %}
</br><h1>Endurance of the Rooted Tree</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Warrior; Ki Arts</strong></div><div><strong>Prerequisites Master in Warrior; </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com//wholeness-of-body" target="_blank"><strong>Wholeness of Body</strong></a><br /></br>You can cast the Wholeness of Body Ki Spell as a free action (it still costs focus points)</div></div>
{% endblock %}