{% extends "v1base.html" %}
{% block content %}
</br><h1>Environment Craft</h1></br><div data-component-type="text"><div><strong>1 Points</strong></div><div><strong>Environmental Acclimatization; Environment</strong></div><div>Choose a type of Terrain. When in that environment, if you roll a critical failure on a <a href="https://unbearable1.pythonanywhere.com//survival-wis" target="_blank">Survival </a>skill check to Sense Direction, Subsist, or Cover Tracks, you get a failure instead, and if you roll a success, you get a critical success instead.</div></div>
{% endblock %}