{% extends "v1base.html" %}
{% block content %}
</br><h1>Esoteric Shield</h1></br><div data-component-type="text"><div>Abjuration, Cantrip</div><div><strong>Traditions</strong></br>divine, occult</div><div><strong>Reaction; verbal</strong></div><div><strong>Range</strong></br>30 feet;</br><strong>Targets</strong></br>1 creature;</br><strong>Trigger</strong>: A creature you can see is takes mental or alignment damage</div><div><br /></div><div>You shield a creature from esoteric damage. The creature gains resistance 5 against the triggering damage.</div></div>
{% endblock %}