{% extends "v1base.html" %}
{% block content %}
</br><h1>Extend Align Armament</h1></br><div data-component-type="text"><div><strong>9 Points</strong></div><div><strong>Religion/Warrior; Holy Power</strong></div><div><strong>Prerequisites </strong><a href="https://unbearable1.pythonanywhere.com/align-armament" target="_blank"><strong>Align Armament</strong></a><strong>; Legendary in Religion</strong><br /></br>The alignment you impose on a weapon lasts much longer. The duration of Align Armament increases to 1 minute.</div></div>
{% endblock %}