{% extends "v1base.html" %}
{% block content %}
</br><h1>Folding Ladder</h1></br><div data-component-type="text"><div><strong>Price</strong></br>3 gp<br /></br><strong>Hands</strong></br>2;</br><strong>Usage</strong></br>held in 2 hands;</br><strong>Bulk</strong></br>1 (3 unfolded)</div><div>This multi-hinged, 10-foot ladder is useful for climbing upward or across dangerous pits. You can fold or unfold the ladder with two total Interact actions, which don't need to consecutive.</div></div>
{% endblock %}