{% extends "v1base.html" %}
{% block content %}
</br><h1>Forced Entry</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Athletics; Mighty</strong></div><div><strong>Prerequisite: Expert in Athletics</strong><br /></br>You don't take a penalty to <a href="https://unbearable1.pythonanywhere.com/force-open" target="_blank">Force Open</a> doors, windows, or containers without a crowbar. If you roll a success on a check to Force Open, you get a critical success instead.</div></div>
{% endblock %}