{% extends "v1base.html" %}
{% block content %}
</br><h1>Fortuitous Shift</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Natural Abilities; Shifting</strong></div><div><strong>Prerequisites </strong><a href="https://unbearable1.pythonanywhere.com//unexpected-shift" target="_blank"><strong>Unexpected Shift</strong></a><br /></br>You have grown more comfortable with your penchant for supernatural disappearance. The flat check DC of your Fortuitous Shift feat decreases to 11, and you are no longer dazzled if you succeed.</div></div>
{% endblock %}