{% extends "v1base.html" %}
{% block content %}
</br><h1>Furious Bully</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>Warrior; Rage</strong></div><div><strong>Prerequisite: master in Athletics; </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com/rage" target="_blank"><strong>Rage</strong></a><br /></br>You bully foes across the battlefield. While raging, you gain a +2 circumstance bonus to Athletics checks for attack actions.</div></div>
{% endblock %}