{% extends "v1base.html" %}
{% block content %}
</br><h1>Grappling Arrow</h1></br><div data-component-type="text"><div><strong>Uncommon</strong></br></div><div><strong>Price</strong></br>2 sp<br /></br><strong>Hands</strong></br>1;</br><strong>Bulk</strong></br>L<br /></br></div><div>This small</br><a data-composite="true" href="https://unbearable1.pythonanywhere.com/grappling-hook" target="_blank">grappling hook</a></br>is designed to be tied to a rope and fired from a bow. When fired, it has half the normal range increment for the weapon.</div></div>
{% endblock %}