{% extends "v1base.html" %}
{% block content %}
</br><h1>Guided Strike</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Cultural Training; Elemental</strong></div><div><strong>Single Action</strong><br /></br>You can channel wind to guide your attacks. If your next action is a ranged attack, it ignores penalties due to wind, and its range is increased by 30 feet. Additionally, flat checks caused by smoke, wind, fog or similar particulates are lessened by 2.</br></div></div>
{% endblock %}