{% extends "v1base.html" %}
{% block content %}
</br><h1>Heartened Vivacity</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Behavioral Trait, Resistance</strong></div><div>When you have the <a href="https://unbearable1.pythonanywhere.com/doomed" target="_blank">doomed</a> condition, the condition affects you as if its value was 1 lower than it actually is (doomed 1 has no effect, doomed 2 causes you to die at dying 3, and so on).</div></div>
{% endblock %}