{% extends "v1base.html" %}
{% block content %}
</br><h1>Hireling Manager</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Society; Hirelings</strong></div><div><strong>Prerequisites: Trained in Society</strong><br /></br>You are able to find and secure better labor than most. When securing a hireling for a service, that hireling gains a +2 circumstance bonus to all skill checks. This circumstance bonus applies to both trained and untrained hirelings and has no effect on the cost of the service or labor provided.</div></div>
{% endblock %}