{% extends "v1base.html" %}
{% block content %}
</br><h1>Hungry</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Physiology; Bite Attack</strong></div><div><strong>Requires: </strong><a href="https://unbearable1.pythonanywhere.com//fang-sharpener" target="_blank"><strong>Fang Sharpener</strong></a><br /></br>You'll eat anything and anyone. Whenever you inflict persistent bleed damage with your jaws unarmed attack, you gain temporary Hit Points equal to the amount you deal in persistent damage (just once) for 1 minute</div></div>
{% endblock %}