{% extends "v1base.html" %}
{% block content %}
</br><h1>Improved Grab</h1></br><div data-component-type="text"><div>Free Action</br></div><div><br /></div><div>The monster can use <a data-composite="true" href="https://unbearable1.pythonanywhere.com/grab-monster-ability" target="_blank">Grab</a> as a free action triggered by a hit with its initial attack. A monster with Improved Grab still needs to spend an action to extend the duration for creatures it already has grabbed.</div></div>
{% endblock %}