{% extends "v1base.html" %}
{% block content %}
</br><h1>Improved Familiar</h1></br><div data-component-type="text"><div><strong>6 Points</strong></div><div><strong>Spellcaster; Familiar</strong></div><div><strong>Requires: </strong><a href="https://unbearable1.pythonanywhere.com/familiar" target="_blank"><strong>Familiar</strong></a><br /></br>You find it easy to attract a powerful and unusual familiar to your side. The number of abilities required to make your familiar a specific familiar is two lower than normal.</div></div>
{% endblock %}