{% extends "v1base.html" %}
{% block content %}
</br><h1>Impressive Performance</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Performance; Skill Substitution</strong></div><div><strong>Prerequisites trained in Performance</strong><br /></br>Your performances inspire admiration and win you fans. You can <a href="https://unbearable1.pythonanywhere.com/make-an-impression" target="_blank">Make an Impression</a> using Performance instead of Diplomacy.</div></div>
{% endblock %}