{% extends "v1base.html" %}
{% block content %}
</br><h1>Incredibly Hardy</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>Physiology; Healing and HP</strong></div><div>When you regain Hit Points overnight, add 10 to the Hit Points regained. When anyone uses the Medicine skill to <a data-composite="true" href="https://unbearable1.pythonanywhere.com//treat-wound" target="_blank">Administer First Aid</a>, you can eat a snack to add your Constitution modifier to the hit points healed.</div></div>
{% endblock %}