{% extends "v1base.html" %}
{% block content %}
</br><h1>Incredible Familiar</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>Spellcaster; Familiar</strong></div><div><strong>Prerequisites </strong><a href="https://unbearable1.pythonanywhere.com/enhanced-familiar" target="_blank"><strong>Enhanced Familiar</strong></a><br /></br>Your familiar is imbued with even more magic than other familiars. You can select a base of six familiar or master abilities each day, instead of four.</div></div>
{% endblock %}