{% extends "v1base.html" %}
{% block content %}
</br><h1>Innocent Butterfly</h1></br><div data-component-type="text"><div><strong>8 Points</br></strong></div><div><strong>Deception, Spell-Like Ability</br></strong></div><div><strong>Prerequisites: Legendary in Deception</br></strong></div><div><br /></div><div>You know how to alter the perceptions of others. You can cast <a data-composite="true" href="https://unbearable1.pythonanywhere.com//aura-of-the-unremarkable" target="_blank">aura of the unremarkable</a> once per day as an innate arcane spell.</br></div></div>
{% endblock %}