{% extends "v1base.html" %}
{% block content %}
</br><h1>Intimidating Glare</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Intimidation; Demoralize</strong></div><div><strong>Prerequisites trained in Intimidation</strong><br /></br>You can <a href="https://unbearable1.pythonanywhere.com//demoralize" target="_blank">Demoralize</a> with a mere glare. When you do, Demoralize loses the auditory trait and gains the visual trait, and you don't take a penalty if the creature doesn't understand your language.</div></div>
{% endblock %}