{% extends "v1base.html" %}
{% block content %}
</br><h1>Kneel for no Man or God</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Natural Abilities; Magic Resistance</strong></div><div><strong>Requires:</strong><a href="https://unbearable1.pythonanywhere.com//tradition-bane" target="_blank"><strong> Tradition Bane</strong></a><br /></br>When you use your Tradition Bane reaction against a spell and roll a critical failure on the saving throw against that spell, you get a failure instead.</div></div>
{% endblock %}