{% extends "v1base.html" %}
{% block content %}
</br><h1>Knight Reclaimant</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Religion; Undead Hunter</strong></div><div><strong>Prerequisites: Expert in Religion</strong><br /></br>Whenever you roll a success on a saving throw against an undead's special ability, you get a critical success instead. This applies to any abilities that come from being undead, including an undead's innate spells (but not its prepared or spontaneous spells).</div></div>
{% endblock %}