{% extends "v1base.html" %}
{% block content %}
</br><h1>Knight Vigilant</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Warrior; Teamwork</strong></div><div><strong>Prerequisite: Master in Warrior</strong><br /></br>When you are between an ally and a foe and would provide <a data-composite="true" href="https://unbearable1.pythonanywhere.com//cover" target="_blank">lesser cover</a> to your ally against the foe's attacks, you twist to become even more obtrusive, providing standard cover instead.</div></div>
{% endblock %}