{% extends "v1base.html" %}
{% block content %}
</br><h1>Knockdown (Monster ability)</h1></br><div data-component-type="text"><div>Monster Action</br></div><div><br /></div><div>1 Action</br></div><ul></br>  <li>Requirements: The monster's last action was a success with a Strike that lists Knockdown in its damage entry.</br></li>  <li>Effect: The monster knocks the target <a data-composite="true" href="https://unbearable1.pythonanywhere.com/prone" target="_blank">prone</a>.</li></ul></div>
{% endblock %}