{% extends "v1base.html" %}
{% block content %}
</br><h1>Know the Beat</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Society; Law Enforcement</strong></div><div><strong>Prerequisites: Trained in Society</strong><br /></br>You become trained in your choice of Guild Lore, Legal Lore, Mercantile Lore, or Underworld Lore. You gain a +1 circumstance bonus to Diplomacy checks to <a href="https://unbearable1.pythonanywhere.com//gather-information" target="_blank">Gather Information</a> and to checks made to investigate crimes.</div></div>
{% endblock %}