{% extends "v1base.html" %}
{% block content %}
</br><h1>Know Oneself</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Behavioral Trait, Resistance</strong></div><div><strong>Reaction; Usable once per day; Trigger You roll a critical failure on a saving throw against an emotion effect.</strong><br /></br>You center yourself and call to mind the monastic ideals of mindfulness and self-knowledge. You fail the save against the emotion effect instead of critically failing.</div></div>
{% endblock %}