{% extends "v1base.html" %}
{% block content %}
</br><h1>Lasting Coercion</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Intimidation; Coerce</strong></div><div><strong>Prerequisites expert in Intimidation</strong><br /></br>When you successfully <a href="https://unbearable1.pythonanywhere.com//coerce" target="_blank">Coerce</a> someone, the maximum time they comply increases to a week, still determined by the GM. If you're legendary, the maximum increases to a month.</div></div>
{% endblock %}