{% extends "v1base.html" %}
{% block content %}
</br><h1>Lifetime Climber</h1></br><div data-component-type="text"><div><strong>7 Points</strong></div><div><strong>Environmental Acclimatization; Climbing</strong></div><div>You gain a <a data-composite="true" href="https://unbearable1.pythonanywhere.com/movement" target="_blank">climb Speed</a> of 10 feet when climbing anything.</div><div><br /></div><div><strong>Boost: (+4 points):</strong> Your climb speed is equal to your land speed.</br></div></div>
{% endblock %}