{% extends "v1base.html" %}
{% block content %}
</br><h1>Magic Susceptibility</h1></br><div data-component-type="heading"><h2 id="" level="2">-3 points</h2></div><div data-component-type="informative"><div class="info-container" info-color="green"><div class="info-title">SUPERNATURAL</div><div class="info-content"><div></div></div></div></div><div data-component-type="text"><div>You are particularly vulnerable to magic. You take -1 to all saving throws against magic, and -1 to AC against spells.</br></div></div>
{% endblock %}