{% extends "v1base.html" %}
{% block content %}
</br><h1>Mist Child</h1></br><div data-component-type="text"><div><strong>7 Points</strong></div><div><strong>Physiology; Sneakiness</strong></div><div>When you are <a href="https://unbearable1.pythonanywhere.com//concealed" target="_blank">concealed </a>or <a href="https://unbearable1.pythonanywhere.com//hidden" target="_blank">hidden</a>, increase the DC of the flat check to target you to 6 if you're concealed or 12 if you're hidden.</div></div>
{% endblock %}