{% extends "v1base.html" %}
{% block content %}
</br><h1>Monstrocity Shape</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Nature; Wild Shape</strong></div><div><strong>Prerequisites Wild Shape; Legendary in Nature</strong><br /></br>You can transform into a powerful magical creature. Add the forms listed in <a data-composite="true" href="https://unbearable1.pythonanywhere.com//monstrosity-form" target="_blank">monstrosity form</a> to your wild shape list.</div></div>
{% endblock %}