{% extends "v1base.html" %}
{% block content %}
</br><h1>Mute</h1></br><div data-component-type="heading"><h2 id="" level="2">-5 points</h2></div><div data-component-type="informative"><div class="info-container" info-color="green"><div class="info-title"></div><div class="info-content"><div>PHYSICAL</div></div></div></div><div data-component-type="text"><div>You cannot vocalize in any way, including meeting verbal spell-casting component requirements. You cannot have any feats or abilities that require you to make any sounds with your mouth.</br></div></div>
{% endblock %}