{% extends "v1base.html" %}
{% block content %}
</br><h1>Nameless Anonymity</h1></br><div data-component-type="text"><div><strong>7 Points</strong></div><div><strong>Stealth; Spell-Like Ability</strong></div><div><strong>Prerequisites: Expert in Stealth</strong><br /></br>Once per day, you can cast <a data-composite="true" href="https://unbearable1.pythonanywhere.com/nondetection" target="_blank">nondetection</a> on yourself as an innate spell, heightened to your tier of Stealth.</div></div>
{% endblock %}