{% extends "v1base.html" %}
{% block content %}
</br><h1>Necromantic Resistance</h1></br><div data-component-type="text"><div><strong>7 Points</strong></div><div><strong>Fortitude; Saves and Resistances</strong></div><div><strong>Requires: Master in Fortitude</strong><br /></br>As part of your training, you've inured yourself against necromancy through repeated exposure. You gain a +1 circumstance bonus to saves against necromancy effects and gain resistance 5 to negative damage</div></div>
{% endblock %}