{% extends "v1base.html" %}
{% block content %}
</br><h1>No Sense of Smell/Taste</h1></br><div data-component-type="heading"><h2 id="" level="2">-1 point</h2></div><div data-component-type="informative"><div class="info-container" info-color="green"><div class="info-title">PHYSICAL</div><div class="info-content"><div></div></div></div></div><div data-component-type="text"><div>You have anosmia. You completely lack smell as a secondary sense, and cannot detect things that way. Fortunately, you are also immune to effects based on foul odors.</br></div></div>
{% endblock %}