{% extends "v1base.html" %}
{% block content %}
</br><h1>Occult Resistance</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Cultural Training; Magic Resistance</strong></div><div><strong>Requires: Trained in </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com/occultism-int" target="_blank"><strong>Occultism</strong></a><br /></br>Your study of occult practices has shown you how to best defend against them. You gain a +1 circumstance bonus to all saving throws against occult effects.</div></div>
{% endblock %}