{% extends "v1base.html" %}
{% block content %}
</br><h1>Otherworldly Acumen</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Natural Abilities; Spell-Like Ability</strong></div><div><strong>Requires: at least one innate spell gained from an ancestry feat</strong><br /></br>Your magic is adaptable. By spending 3 days of downtime, you can change the spell you chose for your innate spell to a different spell of the same level from the same tradition (assuming the feat that gave you the innate spell allowed you to pick.)</br></div></div>
{% endblock %}