{% extends "v1base.html" %}
{% block content %}
</br><h1>Perfect Lungs</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Physiology; Aquatic</strong></div><div>You can hold your breath for 25 times as long as usual before <a href="https://unbearable1.pythonanywhere.com//drowning-and-suffocation" target="_blank">suffocating</a>. You gain a +1 circumstance bonus to saving throws against inhaled threats, such as inhaled poisons, and if you roll a success on such a saving throw, you get a critical success instead.</div></div>
{% endblock %}