{% extends "v1base.html" %}
{% block content %}
</br><h1>Periscope</h1></br><div data-component-type="text"><div><strong>Price</strong></br>25 gp<br /></br><strong>Hands</strong></br>2;</br><strong>Bulk</strong></br>L</div><div><br /></div><div>This is a 2-foot-long tube with two angled mirrors, one at each end. When the mirrors are aligned correctly, you can look around obstacles while remaining behind cover. This doesn't provide a sufficient line of effect to target creatures around corners.</div></div>
{% endblock %}