{% extends "v1base.html" %}
{% block content %}
</br><h1>Perpetual Toxicologist</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Alchemist; Poisons</strong></div><div><strong>Prerequisite: </strong><a href="https://unbearable1.pythonanywhere.com/toxicologist" target="_blank"><strong>Toxicologist</strong></a><strong>, Expert in Alchemist</strong><br /></br>You can craft lesser poisons at will using quick alchemy, no need to roll.</div></div>
{% endblock %}