{% extends "v1base.html" %}
{% block content %}
</br><h1>Persistent Alchemy</h1></br><div data-component-type="text"><div><strong>10 Points</strong></div><div><strong>Alchemist; Meta Alchemy</strong></div><div><strong>Prerequisites: Master in Alchemist</strong><br /></br>You've trained your physical form to remain stable within a given altered state. Once per day, when you consume a trained or expert tier alchemical item you've made with Alchemy Infusion, you can retain its effects until the next time you make your daily preparations instead of its normal duration.</div></div>
{% endblock %}