{% extends "v1base.html" %}
{% block content %}
</br><h1>Piton</h1></br><div data-component-type="text"><div><strong>Price</strong></br>1 cp<br /></br><strong>Hands</strong></br>1</div><div><br /></div><div>These small spikes can be used as anchors to make climbing easier. To affix a piton, you must hold it in one hand and use a hammer to drive it in with your other hand. You can attach a rope to the hammered piton so that you don't fall all the way to the ground on a critical failure while</br>Climbing.</div></div>
{% endblock %}