{% extends "v1base.html" %}
{% block content %}
</br><h1>Protective Surge</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Behavioral Trait, Saves</strong></div><div><strong>Requires: </strong><a href="https://unbearable1.pythonanywhere.com//surge" target="_blank"><strong>Surge</strong></a><br /></br>You can choose to activate Surge when you attempt a saving throw, instead of when you make an attack roll. If you do, you gain a +2 status bonus to the triggering saving throw.</div></div>
{% endblock %}