{% extends "v1base.html" %}
{% block content %}
</br><h1>Pure Clarity</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Willpower; Saves and Resistances</strong></div><div><strong>Prerequisites: Master in Willpower</strong><br /></br><strong>Reaction; Fortune; Usable once per minute; Trigger You fail a saving throw against a mental effect.</strong><br /></br>Reroll the triggering saving throw with a +2 circumstance bonus. You must use the second result, even if it's worse.</div></div>
{% endblock %}