{% extends "v1base.html" %}
{% block content %}
</br><h1>Quick Shape</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Physiology; Beastkin</strong></div><div><strong>Free Action; Requires: </strong><a href="https://unbearable1.pythonanywhere.com//beastkin" target="_blank"><strong>Beastkin</strong></a><strong>; Trigger You roll initiative.</strong><br /></br>Your instincts kick in and you take on an aggressive stance. You use Change Shape to enter your hybrid form or a new form granted by a beastkin feat.</div></div>
{% endblock %}