{% extends "v1base.html" %}
{% block content %}
</br><h1>Quick Shot</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Warrior; Ranged Weapons<br /></br>1 Action; Open; Prerequisites: Expert in Warrior</strong><br /></br>You draw your bow and attack with the same action. You Interact to draw a weapon from the bow weapon group that is loaded or has reload 0, then <a data-composite="true" href="https://unbearable1.pythonanywhere.com//strike" target="_blank">Strike</a> with that weapon.</div></div>
{% endblock %}