{% extends "v1base.html" %}
{% block content %}
</br><h1>Quick Juggle</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Performance; Juggle</strong></div><div><strong>Prerequisites expert in Performance; </strong><a href="https://unbearable1.pythonanywhere.com//juggle" target="_blank"><strong>Juggle</strong></a><strong> </strong><br /></br>When you start to Juggle or add another item to those you are Juggling, you add two items instead of one. Increase the maximum number of items you can Juggle by one.</div></div>
{% endblock %}