{% extends "v1base.html" %}
{% block content %}
</br><h1>Rallying Cry</h1></br><div data-component-type="text"><div><strong>10 Points</strong></div><div><strong>Cultural Training; Combat Teamwork</strong></div><div><strong>2 Actions; Usable once per day; Auditory</strong><br /></br>All allies within 30 feet that can hear you gain 10 temporary Hit Points. In addition, these allies become quickened for 1d10 rounds (rolled separately) but can only use the extra action to Step, Stride, or Strike.</div></div>
{% endblock %}