{% extends "v1base.html" %}
{% block content %}
</br><h1>Rapid Recharge</h1></br><div data-component-type="text"><div><br /></div><div><strong>3 points</br></strong></div><div><strong>Warrior/Spellcaster</br></strong></div><div><strong>Free Action; Frequency: once per day; Prerequisites: </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com//spellstrike" target="_blank"><strong>Spellstrike</strong></a></div><div><br /></div><div>You tap into an arcane trick to recover your ability to meld spells and attacks. You recharge your Spellstrike.</div></div>
{% endblock %}