{% extends "v1base.html" %}
{% block content %}
</br><h1>Reach Spell</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Spellcaster; Metamagic<br /></br>1 Action; [Metamagic, Concentrate]; Prerequisites: Trained in Spellcaster</strong><br /></br>You can extend the range of your spells. If the next action you use is to Cast a Spell that has a range, increase that spell's range by 30 feet. As is standard for increasing spell ranges, if the spell normally has a range of touch, you extend its range to 30 feet.</div></div>
{% endblock %}