{% extends "v1base.html" %}
{% block content %}
</br><h1>Reaper of Repose</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Religion/Warrior; Undead Hunter</strong></div><div><strong>Prerequisites: Expert in Religion; Master in Warrior</strong><br /></br>Your skill and fervor allow you to pierce undead defenses and exploit their weaknesses. When you make an attack using a weapon and hit an undead creature, you ignore 5 points of the creature's resistances, and the undead's weaknesses are 2 higher against your attack.</div></div>
{% endblock %}