{% extends "v1base.html" %}
{% block content %}
</br><h1>Resist Persistent Damage</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Physiology; Resistance</strong></div><div>When you select this feat, pick a type of persistent damage: Bleed, Fire, Acid, or Poison. Your flat check to remove persistent damage of a this type is DC 10 instead of DC 15, which is reduced to DC 5 if another creature uses a particularly appropriate action to help.</div></div>
{% endblock %}