{% extends "v1base.html" %}
{% block content %}
</br><h1>Safeguard Spell</h1></br><div data-component-type="text"><div><strong>7 Points</strong></div><div><strong>Spellcaster; Metamagic<br /></br>1 Action; [Concentrate, Metamagic]; Prerequisites: Master in Spellcaster</strong><br /></br>You bring the magical wavelengths of your spell into sync with the ones produced by your own body. If the next action you take is to Cast a Spell with an area, you aren't affected by the spell even if you are within the area.</div></div>
{% endblock %}