{% extends "v1base.html" %}
{% block content %}
</br><h1>Sap Life</h1></br><div data-component-type="text"><div><strong>3 points</strong></div><div><strong>spellcaster; Harm Spell</strong></div><div><strong>Prerequisites: Trained in spellcaster; Healing</strong><br /></br>You draw the life force out of your enemies to heal your own wounds. When you cast a harm spell and damage at least one living creature, you regain Hit Points equal to twice the tier of your harm spell. If you aren't a living creature, you gain no benefit from this feat.</div></div>
{% endblock %}