{% extends "v1base.html" %}
{% block content %}
</br><h1>Seer</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Cultural Training; Knowledge</strong></div><div>You gain a +1 circumstance bonus to checks to <a href="https://unbearable1.pythonanywhere.com//identify-magic" target="_blank">Identify Magic </a>and to <a href="https://unbearable1.pythonanywhere.com//decipher-writing" target="_blank">Decipher Writing</a> of a magical nature. These skill actions typically use the Arcana, Nature, Occultism, or Religion skill.</div></div>
{% endblock %}