{% extends "v1base.html" %}
{% block content %}
</br><h1>Sending</h1></br><div data-component-type="text"><div><strong>MASTER</strong></div><div>Divination, Mental</div><div><strong>Traditions</strong> arcane, divine, occult</div><div><strong>Three Actions ; material, somatic, verbal</strong></div><div><strong>Range</strong> planetary; <strong>Targets</strong> 1 creature with whom you are familiar</div><div><br /></div><div>You send the creature a mental message of 25 words or fewer, and it can respond immediately with its own message of 25 words or fewer.</div></div>
{% endblock %}