{% extends "v1base.html" %}
{% block content %}
</br><h1>Sense Ki</h1></br><div data-component-type="text"><div><strong>9 Points</strong></div><div><strong>Warrior/Ki Arts</strong></div><div><strong>Prerequisites: Any Ki Focus Spell</br></strong></div><div><br /></div><div>You can read the presence of ki in your area. You gain imprecise <a data-composite="true" href="https://unbearable1.pythonanywhere.com/senses" target="_blank">lifesense</a> out to a range of 30 feet.</div></div>
{% endblock %}