{% extends "v1base.html" %}
{% block content %}
</br><h1>Snare Crafting</h1></br><div data-component-type="text"><div><strong>5 Points</strong></div><div><strong>Crafting; Snares</strong></div><div><strong>Prerequisites trained in Crafting</strong><br /></br>You can use the <a data-composite="true" href="https://unbearable1.pythonanywhere.com//craft" target="_blank">Craft</a> activity to create snares. When you select this feat, you add the formulas for four common trained or expert-tier snares to your formula book.</div></div>
{% endblock %}