{% extends "v1base.html" %}
{% block content %}
</br><h1>Speak With Plants</h1></br><div data-component-type="text"><div><strong>6 Points</strong></div><div><strong>Natural Abilities; Nature Magic</strong></div><div></br>You can ask questions of, receive answers from, and use the Diplomacy skill with plants or fungi of a specific type. Non-creature plants typically can't fulfill most requests you might ask of them unless you have access to other magic such as speak with plants. The GM determines which plants or fungi count for this ability.</div></div>
{% endblock %}