{% extends "v1base.html" %}
{% block content %}
</br><h1>Spell Penetration</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Spellcaster; Improved Spellcasting</strong></div><div><strong>Prerequisites: Expert in Spellcaster</strong><br /></br>You've studied ways of overcoming the innate magical resistance that dragons, otherworldly beings, and certain other powerful creatures have. Any creature that has a status bonus to saving throws against magic reduces that bonus by 1 against your spells.</div></div>
{% endblock %}