{% extends "v1base.html" %}
{% block content %}
</br><h1>Spellmaster</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>Knowledge Skills; Identify Magic</strong></div><div><strong>Prerequisites trained in Arcana, Nature, Occultism, or Religion</strong><br /></br>As a Spellmaster, you are adept at identifying magic. You gain a +2 circumstance bonus when you <a href="https://unbearable1.pythonanywhere.com//identify-magic" target="_blank">Identify Magic </a>with a skill in which you are trained or better.</div></div>
{% endblock %}