{% extends "v1base.html" %}
{% block content %}
</br><h1>Spell Prodigy</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>spellcaster; Spells Known</strong></div><div><strong>Prerequisites: Master in spellcaster</strong><br /></br>You can Learn a Spell in half the time it normally takes. Further, when you roll a critical failure on your check to Learn a Spell, you get a failure instead. When you roll a failure, you can try again after 1 week.</div></div>
{% endblock %}