{% extends "v1base.html" %}
{% block content %}
</br><h1>Stance Savant</h1></br><div data-component-type="text"><div><strong>3 Points</strong></div><div><strong>Warrior; Initiative<br /></br>Free Action; Trigger You roll initiative. Prerequisites: Master in Warrior</strong><br /></br>When there's imminent danger, you drop into a stance with a mere thought. Use an action that has the <a data-composite="true" href="https://unbearable1.pythonanywhere.com//stance" target="_blank">stance</a> trait.</div></div>
{% endblock %}