{% extends "v1base.html" %}
{% block content %}
</br><h1>Steady Spellcasting</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>spellcaster; Improved Spellcasting</strong></div><div><strong>Prerequisites: Trained in spellcaster</strong><br /></br>Confident in your technique, you don't easily lose your concentration when you Cast a Spell. If a reaction would disrupt your spellcasting action, attempt a DC 15 flat check. If you succeed, your action isn't disrupted.</div></div>
{% endblock %}