{% extends "v1base.html" %}
{% block content %}
</br><h1>Steely Gaze</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Behavioral Trait, Perception</strong></div><div>You gain a +1 circumstance bonus to Perception checks to <a data-composite="true" href="https://unbearable1.pythonanywhere.com/sense-motive" target="_blank">Sense Motive</a> and Perception DCs against attempts to <a data-composite="true" href="https://unbearable1.pythonanywhere.com/lie" target="_blank">Lie</a> to you.</div></div>
{% endblock %}