{% extends "v1base.html" %}
{% block content %}
</br><h1>Stonefist Elixir</h1></br><div data-component-type="text"><div><strong>TRAINED</strong></div><div><strong>Alchemical, Consumable, Elixir, Morph</strong></div><div><strong>Price: </strong>6 gp</div><div><strong>Usage</strong></br>held in 1 hand;</br><strong>Bulk</strong></br>L</br></div><div><strong>Activate</strong></br>Single Action,</br>Interact</div><div><br /></div><div>Your fists become hard as stone. For 1 hour, your fists deal 2d6 bludgeoning damage and lose the nonlethal trait.</div></div>
{% endblock %}