{% extends "v1base.html" %}
{% block content %}
</br><h1>Sudden Hop</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Behavioral Trait, Fighting Style</strong></div><div><strong>1 Action</strong></div><div>You make a vertical <a data-composite="true" href="https://unbearable1.pythonanywhere.com/leap" target="_blank">Leap</a> without triggering reactions related to movement.</br>Once every ten minutes, you can double the height of your vertical leap.</br></div></div>
{% endblock %}