{% extends "v1base.html" %}
{% block content %}
</br><h1>Surreptitious Spellcasting</h1></br><div data-component-type="text"><div><strong>7 Points</strong></div><div><strong>Spellcaster; Metamagic</strong></div><div><strong>Prerequisites: Master in Spellcaster; </strong><a href="https://unbearable1.pythonanywhere.com//conceal-spell" target="_blank"><strong>Conceal Spell</strong></a><br /></br>You also gain a +2 circumstance bonus to Stealth checks to Conceal a Spell and to Deception checks to conceal verbal components.</div></div>
{% endblock %}