{% extends "v1base.html" %}
{% block content %}
</br><h1>Swift Sneak</h1></br><div data-component-type="text"><div><strong>6 Points</strong></div><div><strong>Stealth; Movement</strong></div><div><strong>Prerequisites master in Stealth</strong><br /></br>You can move your full Speed when you <a data-composite="true" href="https://unbearable1.pythonanywhere.com//sneak" target="_blank">Sneak</a>. You can use Swift Sneak while Burrowing, Climbing, Flying, or Swimming instead of Striding if you have the corresponding movement type.</div></div>
{% endblock %}