{% extends "v1base.html" %}
{% block content %}
</br><h1>Swift Stalker</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Environmental Acclimatization; Environment</strong></div><div>Choose a type of Terrain. When moving in this terrain, you always gain the benefits of the<a href="https://unbearable1.pythonanywhere.com//cover-tracks" target="_blank"> Cover Tracks</a> action without needing to use the activity or having to move half your Speed.</div></div>
{% endblock %}