{% extends "v1base.html" %}
{% block content %}
</br><h1>Swim Fins</h1></br><div data-component-type="text"><div><strong>Price</strong></br>5 gp<br /></br><strong>Usage</strong></br>worn shoes;</br><strong>Bulk</strong></br>L</div><div><br /></div><div>These flippers attach to your feet like tight shoes--donning or removing them requires three Interact actions. While worn, you gain a +5-foot item bonus to the distance you move when rolling Athletics to Swim, not when using a swim Speed, and you take a -10-foot item penalty to your Speed.</div></div>
{% endblock %}