{% extends "v1base.html" %}
{% block content %}
</br><h1>Tactical Entry</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Stealth; Movement</strong></div><div><strong>Free Action; Requirements You rolled Stealth for initiative in this encounter, and neither you nor any enemies have acted yet in this encounter; Prerequisites master in Stealth;</strong><br /></br>You <a data-composite="true" href="https://unbearable1.pythonanywhere.com//stride" target="_blank">Stride</a>. This movement doesn't trigger any reactions.</div></div>
{% endblock %}