{% extends "v1base.html" %}
{% block content %}
</br><h1>Tactile Oceaner</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Physiology; Senses</strong></div><div>Your skin can detect the slightest changes in ocean currents. You gain imprecise wavesense with a range of 30 feet, allowing you to sense motion in the water around you. You also gain a +1 circumstance bonus to Survival checks to <a href="https://unbearable1.pythonanywhere.com/sense-direction" target="_blank">Sense Direction</a> in aquatic environments.</div></div>
{% endblock %}