{% extends "v1base.html" %}
{% block content %}
</br><h1>Tangle of Battle</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Warrior; Grappling</strong></div><div><strong>Reaction; Trigger You critically hit an adjacent enemy; Prerequisites: Expert in Warrior</strong><br /></br>Your incredibly vicious Strike pulls you right in close, giving you the opportunity to grab your foe. Attempt to <a data-composite="true" href="https://unbearable1.pythonanywhere.com//grapple" target="_blank">Grapple</a> the triggering enemy.</div></div>
{% endblock %}