{% extends "v1base.html" %}
{% block content %}
</br><h1>Ten Foot Pole</h1></br><div data-component-type="text"><div><strong>Price</strong></br>1 cp<br /></br><strong>Hands</strong></br>2;</br><strong>Bulk</strong></br>1</div><div><br /></div><div>When wielding this long pole, you can use</br><a data-composite="true" href="https://unbearable1.pythonanywhere.com/seek" target="_blank">Seek</a></br>to search a square up to 10 feet away. The pole is not sturdy enough to use as a weapon.</div></div>
{% endblock %}