{% extends "v1base.html" %}
{% block content %}
</br><h1>Terrain Expertise</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Survival; Favored Terrain</strong></div><div><strong>Prerequisites: </strong><a data-composite="true" href="https://unbearable1.pythonanywhere.com//favored-terrain" target="_blank"><strong>Favored Terrain</strong></a><br /></br>Your experience in navigating a certain type of terrain makes you supremely confident while doing so. You gain a +1 circumstance bonus to Survival checks in your favored terrain.</div></div>
{% endblock %}