{% extends "v1base.html" %}
{% block content %}
</br><h1>Terrifying Resistance</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Intimidation; Demoralize</strong></div><div><strong>Prerequisites expert in Intimidation</strong><br /></br>The spells of those you have <a href="https://unbearable1.pythonanywhere.com//demoralize" target="_blank">Demoralized</a> are less effective on you. If you succeed in Demoralizing a creature, for the next 24 hours you gain a +1 circumstance bonus to saving throws against that creature's spells.</div></div>
{% endblock %}