{% extends "v1base.html" %}
{% block content %}
</br><h1>Tomb-Watcher's Glare</h1></br><div data-component-type="text"><div><strong>1 Points</strong></div><div><strong>Ancestral Relationships , Holy Power </strong></div><div>When you critically hit an undead creature, or an undead creature critically fails a saving throw against one of your abilities, you drive your divine wrath home in your enemy's heart. The undead is <a href="https://unbearable1.pythonanywhere.com//enfeebled" target="_blank">enfeebled</a> 1 for 1 round.</div></div>
{% endblock %}