{% extends "v1base.html" %}
{% block content %}
</br><h1>Unarmed</h1></br><div data-component-type="text"><div>An unarmed attack uses your body rather than a manufactured weapon. An unarmed attack isn't a weapon, though it's categorized with weapons for weapon groups, and it might have weapon traits. Since it's part of your body, an unarmed attack can't be <a href="https://unbearable1.pythonanywhere.com/disarm" target="_blank">Disarmed</a>. It also doesn't take up a hand, though a fist or other grasping appendage generally works like a free-hand weapon.</div></div>
{% endblock %}