{% extends "v1base.html" %}
{% block content %}
</br><h1>Uncanny Awareness</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Physiology; Senses</strong></div><div>You have a keen sense of movement around you. You gain motion sense as an imprecise sense out to 30 feet. Motion sense allows you to detect nearby motion through vibration and air movement. A creature that moves more than 5 feet per action, or one that casts a spell or makes an attack, can be picked up by the sense.</div></div>
{% endblock %}