{% extends "v1base.html" %}
{% block content %}
</br><h1>Universal Dynamic Skill</h1></br><div data-component-type="text"><div><strong>8 Points</strong></div><div><strong>Natural Abilities; Knowledge</strong></div><div><strong>Requires: </strong><a href="https://unbearable1.pythonanywhere.com//expert-dynamic-skill" target="_blank"><strong>Expert Dynamic Skill</strong></a><br /></br>Once per day, for a single action, you can change the skills you selected with Ancestral Dynamic Skill and Expert Dynamic Skill.</div></div>
{% endblock %}