{% extends "v1base.html" %}
{% block content %}
</br><h1>Unwavering Mein</h1></br><div data-component-type="text"><div><strong>6 Points</strong></div><div><strong>Behavioral Trait, Resistance</strong></div><div>Your mystic control and meditations allow you to resist external influences upon your consciousness. Whenever you are affected by a <a href="https://unbearable1.pythonanywhere.com/mental" target="_blank">mental</a> effect that lasts at least 2 rounds, you can reduce the duration by 1 round.</div></div>
{% endblock %}