{% extends 'v1base.html' %}

{% block content %}
<h1 style="padding-top: 48px; margin-top: -48px;">Welcome Back Heroes of Ballroom 77!!</h1>
<p>Use the drop down above or the links below to find your desired feat or spell</p>

<h3>Spell List</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/arcane-spells">Arcane</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/divine-spells">Divine</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/occult">Occult</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/primal">Primal</a></li>
</ul>
<h3>Class Skill Feats</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/Alchemist">Alchemist</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/Professional">Professional</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/Spellcaster">Spellcaster</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/warrior">Warrior</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/WarriorSpellcaster">Warrior / Spellcaster</a></li>
</ul>
<h3>Secondary Stat Feats</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/perception">Perception</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/saving-throws">Saving Throws</a></li>
</ul>
<h3>Skill Feats</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/all-knowledge-skills">All Knowledge Skills</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/acrobatics">Acrobatics</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/arcana">Arcana</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/athletics">Athletics</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/crafting">Crafting</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/deception">Deception</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/diplomacy">Diplomacy</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/intimidation">Intimidation</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/medicine">Medicine</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/nature">Nature</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/occultism">Occultism</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/performance">Performance</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/religion">Religion</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/society">Society</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/stealth">Stealth</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/survival">Survival</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/thievery">Thievery</a></li>
</ul>
</br>
<h2><a href="/character-creation-guide">Click here for the full V1 character creation guide</a></h2>
</div>
{% endblock %}