{% extends 'v1base.html' %}

{% block content %}
<h1 style="padding-top: 48px; margin-top: -48px;">Welcome Back Heroes of Ballroom 77!!</h1>
<p>Use the drop down above or the links below to find your desired feat or spell</p>

<h3>Spell List</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/arcane-spells">Arcane</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/divine-spells">Divine</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/occult-spells">Occult</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/primal-spells">Primal</a></li>
</ul>
<h3>Class Skill Feats</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/alchemist-class-feats">Alchemist</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/professional-feats">Professional</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/spellcaster-feats">Spellcaster</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/warrior-feats">Warrior</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/warrior-spellcaster-feats">Warrior / Spellcaster</a></li>
</ul>
<h3>Secondary Stat Feats</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/perception-feats">Perception</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/saving-throw-feats">Saving Throws</a></li>
</ul>
<h3>Skill Feats</h3>
<ul>
    <li><a href="https://unbearable1.pythonanywhere.com/all-knowledge-skills">All Knowledge Skills</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/acrobatics-class-feats">Acrobatics</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/arcana-feats">Arcana</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/athletics-class-feats">Athletics</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/crafting-feats">Crafting</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/deception-feats">Deception</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/diplomacy-feats">Diplomacy</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/intimidation-feats">Intimidation</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/medicine-feats">Medicine</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/nature-feats">Nature</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/occultism-feats">Occultism</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/performance-feats">Performance</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/religion-feats">Religion</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/society-feats">Society</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/stealth-feats">Stealth</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/survival-feats">Survival</a></li>
    <li><a href="https://unbearable1.pythonanywhere.com/thievery-feats">Thievery</a></li>
</ul>
</br>
<h2><a href="https://unbearable1.pythonanywhere.com/character-creation-guide">Click here for the full V1 character creation guide</a></h2>
</div>
{% endblock %}