<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ballroom 77 Massacre</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar">
      <a href="{{ url_for('Home')}}">Back to V2</a>
      <a href="{{ url_for('V1_Home')}}">V1 Home</a>
      <div class="dropdown">
      <button class="dropbtn">Spells
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://unbearable1.pythonanywhere.com/arcane-spells">Arcane</a>
        <a href="https://unbearable1.pythonanywhere.com/divine-spells">Divine</a>
        <a href="https://unbearable1.pythonanywhere.com/occult-spells">Occult</a>
        <a href="https://unbearable1.pythonanywhere.com/primal-spells">Primal</a>
      </div>
      </div>
      <div class="dropdown">
      <button class="dropbtn">Class Feats
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://unbearable1.pythonanywhere.com/alchemist-class-feats">Alchemist</a>
        <a href="https://unbearable1.pythonanywhere.com/professional-feats">Professional</a>
        <a href="https://unbearable1.pythonanywhere.com/spellcaster-feats">Spellcaster</a>
        <a href="https://unbearable1.pythonanywhere.com/warrior-feats">Warrior</a>
        <a href="https://unbearable1.pythonanywhere.com/warrior-spellcaster-feats">Warrior / Spellcaster</a>
      </div>
      </div>
      <div class="dropdown">
      <button class="dropbtn">Secondary Stat Feats
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://unbearable1.pythonanywhere.com/perception-feats">Perception</a>
        <a href="https://unbearable1.pythonanywhere.com/saving-throw-feats">Saving Throws</a>
      </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn">Skill Feats
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="https://unbearable1.pythonanywhere.com/all-knowledge-skills">All Knowledge Skills</a>
            <a href="https://unbearable1.pythonanywhere.com/acrobatics-class-feats">Acrobatics</a>
            <a href="https://unbearable1.pythonanywhere.com/arcana-feats">Arcana</a>
            <a href="https://unbearable1.pythonanywhere.com/athletics-class-feats">Athletics</a>
            <a href="https://unbearable1.pythonanywhere.com/crafting-feats">Crafting</a>
            <a href="https://unbearable1.pythonanywhere.com/deception-feats">Deception</a>
            <a href="https://unbearable1.pythonanywhere.com/diplomacy-feats">Diplomacy</a>
            <a href="https://unbearable1.pythonanywhere.com/intimidation-feats">Intimidation</a>
            <a href="https://unbearable1.pythonanywhere.com/medicine-feats">Medicine</a>
            <a href="https://unbearable1.pythonanywhere.com/nature-feats">Nature</a>
            <a href="https://unbearable1.pythonanywhere.com/occultism-feats">Occultism</a>
            <a href="https://unbearable1.pythonanywhere.com/performance-feats">Performance</a>
            <a href="https://unbearable1.pythonanywhere.com/religion-feats">Religion</a>
            <a href="https://unbearable1.pythonanywhere.com/society-feats">Society</a>
            <a href="https://unbearable1.pythonanywhere.com/stealth-feats">Stealth</a>
            <a href="https://unbearable1.pythonanywhere.com/survival-feats">Survival</a>
            <a href="https://unbearable1.pythonanywhere.com/thievery-feats">Thievery</a>
          </div>
      </div>
      <script async src="https://cse.google.com/cse.js?cx=d620c8d7dc8844bfe">
      </script>
      <div class="gcse-search"></div>
  </div>
<div class="sidenav"></div>
<div class ="a main">
{% block content %}
{% endblock %}
</div>
<script src="../static/dropdown.js"></script>
</body>
</html>
