{% extends "v1base.html" %}
{% block content %}
</br><h1>Vigorous Health</h1></br><div data-component-type="text"><div><strong>4 Points</strong></div><div><strong>Physiology; Resistance</strong></div><div>Your physique is robust and can withstand blood loss startlingly well. Whenever you would gain the <a href="https://unbearable1.pythonanywhere.com/drained" target="_blank">drained </a>condition, you can attempt a DC 17 flat check. On a success, you don't gain the drained condition.</div></div>
{% endblock %}