{% extends "v1base.html" %}
{% block content %}
</br><h1>Vile Desecration</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>spellcaster; Harm Spell</strong></div><div><strong>Prerequisites: expert in spellcaster</strong><br /></br>You combine unholy might with negative energy to damage angels, archons, and other self-righteous denizens of the Outer Planes. When you cast a harm spell, you can change the damage you deal to celestial creatures to evil damage instead of negative damage.</div></div>
{% endblock %}