{% extends "v1base.html" %}
{% block content %}
</br><h1>Warren Navigator</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Cultural Training; Exploration</strong></div><div>When you <a href="https://unbearable1.pythonanywhere.com//sense-direction" target="_blank">Sense Direction</a> or attempt a roll against a maze spell (or similar effects), you get a result one degree of success better than you rolled. You don't take a penalty to Sense Direction when you lack a compass.</div></div>
{% endblock %}