{% extends "v1base.html" %}
{% block content %}
</br><h1>Wary Skulker</h1></br><div data-component-type="text"><div><strong>2 Points</strong></div><div><strong>Cultural Training; Exploration</strong></div><div>You can perform the <a data-composite="true" href="https://unbearable1.pythonanywhere.com/scout" target="_blank">Scout</a> exploration activity at the same time as the <a data-composite="true" href="https://unbearable1.pythonanywhere.com/avoid-notice" target="_blank">Avoid Notice</a> exploration activity.</div></div>
{% endblock %}