{% extends "v1base.html" %}
{% block content %}
</br><h1>Wary of Enchantment</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Cultural Training; Cooperation</strong></div><div>In addition to using it for skill checks, you can use the Aid basic action to grant a bonus to another creature's saving throw or other check to overcome enchantment or possession. As usual for Aid, you need to prepare by using an action on your turn to encourage the creature to fight against the effect.</div></div>
{% endblock %}