{% extends "v1base.html" %}
{% block content %}
</br><h1>Whisper-kind</h1></br><div data-component-type="text"><div><strong>1 Point</strong></div><div><strong>Physiology; Senses</strong></div><div>As long as you can hear normally, you can use the <a data-composite="true" href="https://unbearable1.pythonanywhere.com/seek" target="_blank">Seek </a>action to sense <a data-composite="true" href="https://unbearable1.pythonanywhere.com/undetected" target="_blank">undetected </a>creatures in a 60-foot cone instead of a 30-foot cone.</div></div>
{% endblock %}